.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 55px;
  background-color: #acd8ad;
  box-sizing: border-box;
  &__info {
    margin: 0 auto;
    width: 80%;
    font-size: 12px;
    font-family: $mont-r;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
  }
}